$blue : #4B83C0;
$dark-gray : #373737;
$light-gray : #f2f2f5;
$light-gray-bg : #fbfbfd;
$white : #fff;

/************************************************** RESPONSIVE **********************************************************/

@media screen and (min-width: 1000px) and (max-width: 1660px) {
    #subpage .wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 70px 50px;
        overflow-y: auto;
        max-height: calc(100vh - 80px);

        .card {
            width: calc(33.33% - 20px);

            .project-photo {
                overflow: hidden;

                img {
                    min-width: 100%;
                    min-height: 200px;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3D(-50%,-50%,0);
                    -moz-transform: translate3D(-50%,-50%,0);
                    -webkit-transform: translate3D(-50%,-50%,0);
                }
            }
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {


}
