/********************************************************** BASIC ********************************************************/

$green : #a0b46f;
$dark-gray : #515151;
$light-gray : #ededf2;
$light-gray-bg : #f2f9fa;
$gray : #afafb2;
$white : #fff;

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {box-sizing: border-box; text-decoration: none; font-family: 'Montserrat', serif; outline: none;}
body {padding: 0px; margin: 0; overflow-x: hidden; overflow-x: hidden;}
section {clear: both;}
b, strong {font-weight: 700;}
ul {list-style: none; padding: 0; margin: 0;}
li {display: inline-block;}

.clearfix {clear: both;}
.no-margin-right {margin-right: 0 !important;}
.mobile {display: none;}

body.loaded {overflow: auto;}
body.menu-open {overflow: hidden;}

.preload {
    position: fixed;
    width: calc(100% - 80px);
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: $light-gray-bg;
    animation-name: preload;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate;

    svg {
        width: 100px;
        height: 100px;
        display:inline-block;
        margin: 0 auto;
    }
}

aside {
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    box-shadow: 6px 0 30px 0 rgba(0,0,0,0.03);
    -moz-box-shadow: 6px 0 30px 0 rgba(0,0,0,0.03);
    -webkit-box-shadow: 6px 0 30px 0 rgba(0,0,0,0.03);

    .logo {
        width: 100%;
        height: 80px;
        background: $green;

        img {
            max-width: 100%;
        }
    }

    .sidemenu {
        li {
            width: 100%;
            height: 80px;
            border-bottom: 1px solid $light-gray;

            a {
                width: 100%;
                height: 100%;
                display: block;
                background-size: 60px auto;
                background-repeat: no-repeat;
                background-position: center center;
                opacity: 0.5;
            }
            &:nth-child(1) a {
                background-image: url('../img/menu/choose-template.png');
                &.active{
                    background-image: url('../img/menu/active/choose-template.png');
                    opacity: 1;
                }
            }
            &:nth-child(2) a {
                background-image: url('../img/menu/video-details.png');
                &.active{
                    background-image: url('../img/menu/active/video-details.png');
                    opacity: 1;
                }
            }
            &:nth-child(3) a {
                background-image: url('../img/menu/upload-photos.png');
                &.active{
                    background-image: url('../img/menu/active/upload-photos.png');
                    opacity: 1;
                }
            }
            &:nth-child(4) a {
                background-image: url('../img/menu/soundtrack.png');
                &.active{
                    background-image: url('../img/menu/active/soundtrack.png');
                    opacity: 1;
                }
            }
            &:nth-child(5) a {
                background-image: url('../img/menu/preview.png');
                &.active{
                    background-image: url('../img/menu/active/preview.png');
                    opacity: 1;
                }
            }
            &:nth-child(6) a {
                background-image: url('../img/menu/success.png');
                &.active{
                    background-image: url('../img/menu/active/success.png');
                    opacity: 1;
                }
            }
        }
    }

    .pagination {
        width: 100%;
        color: $dark-gray;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 0.2em;
        position: absolute;
        bottom: 20px;
        text-align: center;
    }
}

header {
    width: calc(100% - 80px);
    height: 80px;
    float: right;
    position: fixed;
    right: 0;
    z-index: 999;

    .menu {
        width: calc(100% - 160px);
        float: left;
        text-align: center;
        padding-left: 160px;
        cursor: pointer;

        button {
            display: inline-block;
            color: $dark-gray;
            font-size: 13px;
            font-weight: 400;
            line-height: 80px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            margin: 0 20px;
            position: relative;
            border: none;
            background: none;
            cursor: pointer;
            transition: 0.4s;

            &:after {
                content: '';
                background: $green;
                width: 0;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 0px;
                transition: 0.4s;
            }

            &.mixitup-control-active {
                color: $green;

                &:after {
                    content: '';
                    background: $green;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                }
            }
            }
        }

    .sets {
		width: auto;
		height: 100%;
		text-align: center;
		position: relative;
		display: inline-block;
		margin: 0 auto;

		.tablink {
			background: #B9B9B9;
			width: 24px;
			height: 24px;
			display: inline-block;
			margin: 28px 100px 28px 10px;
			font-size: 0;
			position: relative;
			cursor: pointer;
			transition: 0.4s;
			-moz-transition: 0.4s;
			-webkit-transition: 0.4s;
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.1);

			&.active {
				background: $green;
			}

			&:after {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				background: $white;
				left: 50%;
				top: 50%;
				transform: translate3D(-50%,-50%,0);
				border-radius: 50px;
			}

			&:last-child {
				margin: 28px 10px;
			}

			span {
				width: 120px;
				background: $white;
				color: $dark-gray;
				font-size: 13px;
				font-weight: 300;
				text-align: center;
				padding: 8px 5px;
				position: absolute;
				top: 40px;
				left: -50px;
				opacity: 0;
				border: 1px solid $light-gray;
				transition: 0.4s;
				-moz-transition: 0.4s;
				-webkit-transition: 0.4s;
				border-radius: 2px;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
				transform: translate3d(0, 5px,0);
				-moz-transform: translate3d(0, 5px,0);
				-webkit-transform: translate3d(0, 5px,0);

				&:before {
					content: '';
					position: absolute;
					width: 12px;
					height: 10px;
					background: $white;
					left: 50%;
					top: -1px;
					border: 1px solid $light-gray;
					transform: rotate(45deg) translate3d(-50%,0,0);
					-moz-transform: rotate(45deg) translate3d(-50%,0,0);
					-webkit-transform: rotate(45deg) translate3d(-50%,0,0);
				}

				&:after {
					content: '';
					position: absolute;
					width: 40px;
					height: 8px;
					background: $white;
					left: 50%;
					top: 0px;
					z-index: 2;

					transform: translate3D(-50%,0,0);
					-moz-transform: translate3D(-50%,0,0);
					-webkit-transform: translate3D(-50%,0,0);
				}
			}

			&:hover span {
				opacity: 1;
				transform: translate3d(0, 0px,0);
				-moz-transform: translate3d(0, 0px,0);
				-webkit-transform: translate3d(0, 0px,0);
			}
		}

		&:after {
			content: "";
			position: absolute;
			width: calc(100% - 50px);
			height: 2px;
			background: #515151;
			left: 50%;
			top: 50%;
			z-index: -1;
			opacity: 0.4;
			transform: translate3D(-50%,-50%,0);
			-moz-transform: translate3D(-50%,-50%,0);
			-webkit-transform: translate3D(-50%,-50%,0);
			box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.6) inset;
			-moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.6) inset;
			-webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.6) inset;
		}
	}

}

.menu-icon {
        background: $white;
        width: 80px;
        height: 80px;
        float: right;
        border-left: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        position: fixed;
        top: 0;
        right: 80px;
        z-index: 99999;
        cursor: pointer;
        transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;

        span {
            width: 30px;
            height: 2px;
            background: $dark-gray;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;

            &.menu-line-top {
                transform: translate3d(-50%, -8px, 0);
                -moz-transform: translate3d(-50%, -8px, 0);
                -webkit-transform: translate3d(-50%, -8px, 0);
                transition-delay: 0s;
            }

            &.menu-line-mid {
                transform: translate3d(-50%, 0px, 0);
                -moz-transform: translate3d(-50%, 0px, 0);
                -webkit-transform: translate3d(-50%, 0px, 0);
                transition-delay: 0s;
            }

            &.menu-line-bot {
                transform: translate3d(-50%, 8px, 0);
                -moz-transform: translate3d(-50%, 8px, 0);
                -webkit-transform: translate3d(-50%, 8px, 0);
                transition-delay: 0.3s;
            }

        }
 }

.profile {
        background: $white;
        width: 80px;
        height: 80px;
        float: right;
        border-left: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;

        a {
            color: $dark-gray;
            font-size: 13px;
            float: left;
            line-height: 80px;
            display: none;
            margin-left: 60px;
            opacity: 0;
            visibility: hidden;
        }

        img {
            float: left;
            margin: 15px;
            border: 4px solid $green;
            max-height: 50px;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.1);
            -moz-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.1);
            -webkit-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.1);
        }

        .user-name {
            visibility: hidden;
            opacity: 0;
            color: $dark-gray;
            font-size: 16px;
            font-weight: 400;
            line-height: 80px;
            display: inline-block;
            position: relative;
            transition: 0s;
            -moz-transition: 0s;
            -webkit-transition: 0s;
            transform: translate3d(290px,0,0);
            -moz-transform: translate3d(290px,0,0);
            -webkit-transform: translate3d(290px,0,0);
        }

        .current-balance {
            visibility: hidden;
            opacity: 0;
            color: $green;
            font-size: 16px;
            font-weight: 400;
            line-height: 80px;
            display: inline-block;
            position: relative;
            transition: 0s;
            -moz-transition: 0s;
            -webkit-transition: 0s;
            transform: translate3d(290px,0,0);
            -moz-transform: translate3d(290px,0,0);
            -webkit-transform: translate3d(290px,0,0);

            &:after {
                content: 'T';
                width: 18px;
                height: 18px;
                font-size: 9px;
                font-weight: 900;
                line-height: 14px;
                text-align: left;
                position: absolute;
                top: 50%;
                right: -22px;
                margin-top: -9px;
                padding-left: 4px;
                box-sizing: border-box;
                border: 2px solid $green;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
                -moz-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
                -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
            }
        }
}

.profile-menu {
    background: $white;
    width: 290px;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 99999;
    border-left: 1px solid $light-gray;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(210px,0,0);
    -moz-transform: translate3d(210px,0,0);
    -webkit-transform: translate3d(210px,0,0);
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;

    li {
        width: 100%;
        display: block;
        border-bottom: 1px solid $light-gray;

        a {
            color: $dark-gray;
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            padding: 15px 80px;
            opacity: 0.5;
            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;

            &:hover {opacity: 1;}

        }

        &:nth-child(1) a {background: url('../img/profile-menu/create-video.png') no-repeat 31px center;}
        &:nth-child(2) a {background: url('../img/profile-menu/my-projects.png') no-repeat 31px center;}
        &:nth-child(3) a {background: url('../img/profile-menu/purchased-videos.png') no-repeat 31px center;}
        &:nth-child(4) a {background: url('../img/profile-menu/favorite-styles.png') no-repeat 31px center;}
        &:nth-child(5) a {background: url('../img/profile-menu/my-wallet.png') no-repeat 31px center;}
        &:nth-child(6) a {background: url('../img/profile-menu/settings.png') no-repeat 31px center;}
        &:nth-child(7) a {background: url('../img/profile-menu/logout.png') no-repeat 31px center;}
    }
}

main {
    background: $light-gray-bg;
    width: calc(100% - 80px);
    min-height: calc(100vh - 80px);
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
        width: 900px;
        margin: 0 auto;
        padding-bottom: 40px;

        h1 {
            color: $green;
            font-size: 31px;
            font-weight: 700;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            text-align: center;
            margin: 40px auto 0;
        }

        h2 {
            color: $dark-gray;
            font-size: 14px;
            font-weight: 200;
            text-transform: uppercase;
            text-align: center;
            margin: 0 0 40px;
        }

        /*** PAGE: Choose Template ***/

        .row {
            margin: 0 0 30px;
            padding: 10px;
            clear: both;
            overflow: hidden;

            .card {
                width: 270px;
                margin-right: 30px;
                position: relative;
                float: left;
                overflow: auto;
                padding: 0 0 10px;
                margin-bottom: 20px;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                transition: 0.2s;
                -moz-transition: 0.2s;
                -webkit-transition: 0.2s;

                .fav {
                    background: url('../img/like.png') no-repeat center center;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 9;
                    cursor: pointer;
                    transition: 0.4s;
                    -moz-transition: 0.4s;
                    -webkit-transition: 0.4s;

                    &:before {
                        content: '';
                        background: url('../img/liked.png') no-repeat center center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 40px;
                        height: 40px;
                        transform: scale(0);
                        -moz-transform: scale(0);
                        -webkit-transform: scale(0);
                        transition: 0.4s;
                        -moz-transition: 0.4s;
                        -webkit-transition: 0.4s;
                    }
                }

                &.liked {
                    .fav:before {
                        content: '';
                        transform: scale(1);
                        -moz-transform: scale(1);
                        -webkit-transform: scale(1);
                    }
                }

                a:after {
                    content: '';
                    background: rgba(0, 0, 0, 0.5);
                    width: 0;
                    height: 38px;
                    position: absolute;
                    left: 37px;
                    top: 0;
                    transition: content 0.8s, background 0.2s, width 0.2s;
                    -moz-transition: content 0.8s, background 0.2s, width 0.2s;
                    -webkit-transition: content 0.8s, background 0.2s, width 0.2s;
                }

                &:hover a:after {
                    content: 'preview';
                    background: rgba(0,0,0,0.5);
                    width: 60px;
                    height: 38px;
                    position: absolute;
                    top: 0;
                    left: 37px;
                    color: #fff;
                    line-height: 38px;
                    padding: 0 20px;
                    font-size: 14px;
                    font-weight: 300;
                    border-radius: 0 0 4px 0;
                    -moz-border-radius: 0 0 4px 0;
                    -webkit-border-radius: 0 0 4px 0;
                }

                .play-btn {
                    background: rgba(0,0,0,0.6);
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px 0px 0px 10px;
                    z-index: 2;
                }

                label {
                    width: 180px;
                    height: 40px;
                    position: absolute;
                    margin-top: -25px;
                    left: 50%;
                    top: 50%;
                    padding: 0;
                    z-index: 999;
                    opacity: 0;
                    visibility: hidden;
                    transform: translate3d(-50%,0%,0);
                    -moz-transform: translate3d(-50%,0%,0);
                    -webkit-transform: translate3d(-50%,0%,0);
                    transition: 0.4s;
                    -moz-transition: 0.4s;
                    -webkit-transition: 0.4s;

                    input {display: none;}


                    span {
                        background-color: $white;
                        width: 180px;
                        height: 40px;
                        position: absolute;
                        margin: 0;
                        top: 0;
                        left: 0;
                        color: $green;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 40px;
                        text-align: center;
                        text-transform: uppercase;
                        cursor: pointer;
                        border-radius: 50px;
                        -moz-border-radius: 50px;
                        -webkit-border-radius: 50px;
                        box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.2);
                        -moz-box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.2);
                        -webkit-box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.2);
                        transition: 0.4s;
                        -moz-transition: 0.4s;
                        -webkit-transition: 0.4s;
                    }

                    input:checked ~ span {
                        background-color: $green;
                        color: $white;
                    }

                    span:after {
                        content: "";
                        background: url('../img/checked.png') no-repeat -20px center;
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        display: block;
                        visibility: hidden;
                        top: 0;
                        left: 0;
                        border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        transition: 0.3s;
                        -moz-transition: 0.3s;
                        -webkit-transition: 0.3s;
                    }

                    input:checked ~ span:after {
                        display: block;
                        visibility: visible;
                        background: url('../img/checked.png') no-repeat center center;
                    }
                }

                &:hover {
                    label {
                        opacity: 1;
                        visibility: visible;
                        transform: translate3d(-50%,-50%,0);
                        -moz-transform: translate3d(-50%,-50%,0);
                        -webkit-transform: translate3d(-50%,-50%,0);
                    }

                }

                .video-thumb {
                    display: block;
                    margin-bottom: 10px;
                    max-width: 100%;
                }

                h3 {
                    color: $dark-gray;
                    font-size: 15px;
                    text-transform: uppercase;
                    display: inline-block;
                    float: left;
                    margin: 5px 0;
                    position: relative;
                    left: 10px;
                }

                span {
                    color: $dark-gray;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 20px;
                    float: right;
                    margin: 5px 0;
                    position: relative;
                    right: 10px;

                    &.min-photos {
                        float: left;
                        margin: 0;
                        clear: both;
                        right: auto;
                        left: 10px;
                    }

                    &.max-photos {
                        margin: 0;
                    }
                }
                &:nth-child(3n) {margin-right: 0;}
                &.selected {
                    background: #fff;
                    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.075);
                    -moz-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.075);
                    -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.075);
                    transform: translate3d(0,-3px,0);
                    -moz-transform: translate3d(0,-3px,0);
                    -webkit-transform: translate3d(0,-3px,0);
                }
            }
        }

        /*** PAGE: Video Info ***/

        .video-info {
            h3 {
                color: $dark-gray;
                font-size: 21px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0;
            }

            .info-desc {
                color: $dark-gray;
                font-size: 13px;
                font-weight: 300;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                margin-bottom: 30px;
                z-index: 2;

                &:before {
                    content: '';
                    position: absolute;
                    width: calc(100% + 10px);
                    height: 1px;
                    left: 0;
                    bottom: 4px;
                    z-index: -1;
                    background: $light-gray-bg;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 900px;
                    height: 1px;
                    background: $light-gray;
                    left: 0;
                    bottom: 4px;
                    z-index: -2;

                }
            }

            input {
                width: 280px;
                float: left;
                margin-right: 30px;
                margin-bottom: 30px;
                padding: 20px;
                color: #969699;
                font-size: 15px;
                border: 1px solid $light-gray;
                transition: 0.4s;
                -moz-transition: 0.4s;
                -webkit-transition: 0.4s;

                &.video-title {
                    width: 590px;
                }

                &:focus {
                    color: $green;
                    border-color: $green;
                }
            }

            textarea {
                width: 100%;
                height: 150px;
                resize: none;
                float: left;
                padding: 20px;
                color: #969699;
                font-size: 15px;
                border: 1px solid $light-gray;
                transition: 0.4s;
                -moz-transition: 0.4s;
                -webkit-transition: 0.4s;

                &:focus {
                    color: $green;
                    border-color: $green;
                }
            }
        }
    }
}

#subpage {
    background: $light-gray-bg;
    width: calc(100% - 368px);
    height: 100vh;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 290px;
    visibility: hidden;
    opacity: 0;
    padding-top: 80px;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;

    h2 {
        background: $white;
        width: 100%;
        height: 80px;
        line-height: 80px;
        margin: 0;
        padding: 0 50px;
        color: $green;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 1px solid $light-gray;
    }

    .wrapper {
        width: 1160px;
        margin: 0 auto;
        padding-top: 70px;

        .card {
            opacity: 0;
            background: $white;
            width: 270px;
            float: left;
            overflow: hidden;
            margin: 0 10px 20px;
            position: relative;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            box-shadow: 0 8px 10px 0 rgba(0,0,0,0.03);
            -moz-box-shadow: 0 8px 10px 0 rgba(0,0,0,0.03);
            -webkit-box-shadow: 0 8px 10px 0 rgba(0,0,0,0.03);
            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            transition-delay: 0.4s;
            -moz-transition-delay: 0.4s;
            -webkit-transition-delay: 0.4s;
            transform: translate3d(0,10px,0);
            -moz-transform: translate3d(0,10px,0);
            -webkit-transform: translate3d(0,10px,0);

            &:last-child {
                margin-right: 0;
            }

            .remove {
                background: rgba($dark-gray, .8);
                width: 26px;
                height: 26px;
                position: absolute;
                top: 7px;
                right: 7px;
                z-index: 99;
                cursor: pointer;
                border-radius: 50px;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;

                &:after {
                    content: '';
                    width: 2px;
                    height: 12px;
                    background: #fff;
                    position: absolute;
                    top: 7px;
                    left: 12px;
                    transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
                &:before {
                    content: '';
                    width: 2px;
                    height: 12px;
                    background: #fff;
                    top: 7px;
                    left: 12px;
                    position: absolute;
                    transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                }
            }

            a.play-style:after {
                content: '';
                background: rgba(0, 0, 0, 0.5);
                width: 0;
                height: 38px;
                position: absolute;
                left: 37px;
                top: 0;
                transition: content 0.8s, background 0.2s, width 0.2s;
                -moz-transition: content 0.8s, background 0.2s, width 0.2s;
                -webkit-transition: content 0.8s, background 0.2s, width 0.2s;
            }

            &:hover a.play-style:after {
                content: 'preview';
                background: rgba(0,0,0,0.5);
                width: 60px;
                height: 38px;
                position: absolute;
                top: 0;
                left: 37px;
                color: #fff;
                line-height: 38px;
                padding: 0 20px;
                font-size: 14px;
                font-weight: 300;
                border-radius: 0 0 4px 0;
                -moz-border-radius: 0 0 4px 0;
                -webkit-border-radius: 0 0 4px 0;
            }

            .play-btn {
                background: rgba(0,0,0,0.6);
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0px 0px 10px;
            }

            .project-icon {
                background: $dark-gray;
                width: 40px;
                height: 40px;
                position: absolute;
                left: 50%;
                top: 200px;
                z-index: 3;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                box-shadow: 9px 9px 15px 0 rgba(0,0,0,0.1);
                transform: translate3d(-50%, -20px, 0);

                &.finished {background: $green;}

            }

            .project-overlay {
                width: 100%;
                height: 200px;
                background: rgba($dark-gray, .85);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                transition: 0.4s;

                a {
                    width: 150px;
                    background: $green;
                    color: $white;
                    font-size: 13px;
                    font-weight: 700;
                    padding: 10px 20px;
                    display: inline-block;
                    margin: 0 auto;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    border-radius: 50px;
                    -moz-border-radius: 50px;
                    -webkit-border-radius: 50px;
                    box-shadow: 9px 9px 15px 0 rgba(0,0,0,0.2);
                    -moz-box-shadow: 9px 9px 15px 0 rgba(0,0,0,0.2);
                    -webkit-box-shadow: 9px 9px 15px 0 rgba(0,0,0,0.2);
                    transition: 0.4s;
                    transform: translate3d(0,50px,0);

                    &.watch, &.download {
                        background: url('../img/watch-video.svg') no-repeat 3px center;
                        background-size: 14px auto;
                        width: 140px;
                        text-align: left;
                        padding-left: 30px;
                        font-size: 11px;
                        box-shadow: none;
                        -moz-box-shadow: none;
                        -webkit-box-shadow: none;
                    }

                    &.download {
                        background: url('../img/download.svg') no-repeat left center;
                        background-size: 18px auto;
                    }
                }

            }

            &:hover {
                .project-overlay {
                    opacity: 1;
                    visibility: visible;

                    a {
                        transform: translate3d(0,0,0);
                    }
                }
            }

            .project-photo {
                background: url('../img/style-image.png') no-repeat center center $light-gray;
                width: 100%;
                height: 200px;
                overflow: hidden;
                position: relative;
            }

            .project-info {
                padding: 30px 20px 20px;

                h3 {
                    color: $dark-gray;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin: 0;
                }

                h4 {
                    color: $dark-gray;
                    font-size: 12px;
                    font-weight: 300;
                    text-transform: uppercase;
                    margin: 0;
                }

                .date {
                    color: rgba($dark-gray, .5);
                    font-size: 12px;
                    float: left;
                }

                .quality {
                    color: rgba($dark-gray, .5);
                    font-size: 12px;
                    float: right;
                    font-weight: 700;

                    b {color: $green;}
                }

                .duration {
                    color: rgba($dark-gray, .5);
                    font-size: 12px;
                    float: right;
                }

                .min-photos {
                    color: rgba($dark-gray, .5);
                    font-size: 12px;
                    float: left;
                    margin-top: 5px;
                }

                .max-photos {
                    color: rgba($dark-gray, .5);
                    font-size: 12px;
                    float: right;
                    margin-top: 5px;
                }

                &.purchased {
                    padding: 15px 20px 30px;

                    h4 {
                        margin-bottom: 10px;
                    }
                }

                &.favorite {
                    padding: 20px;
                    overflow: auto;

                    h3 {
                        float: left;
                    }
                }
            }
        }

        .wallet-left {
            background: $white;
            width: 30%;
            float: left;
            margin-right: 20px;
            padding: 30px 0;
            text-align: center;
            border: 1px solid #f0f0f2;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);
            -moz-box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);
            -webkit-box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);

            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            transition-delay: 0.4s;
            -moz-transition-delay: 0.4s;
            -webkit-transition-delay: 0.4s;
            transform: translate3d(0,10px,0);
            -moz-transform: translate3d(0,10px,0);
            -webkit-transform: translate3d(0,10px,0);

            h3 {
                color: $dark-gray;
                font-size: 20px;
                font-weight: 700;
                margin: 0 0 10px;
                padding: 0 20px;
            }

            .amount {
                color: $green;
                font-size: 40px;
                font-weight: 700;
                position: relative;
                padding: 0 20px;
                margin-bottom: 10px;
                display: inline-block;

                &:after {
                    content: 'T';
                    width: 22px;
                    height: 22px;
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 17px;
                    text-align: left;
                    position: absolute;
                    top: 50%;
                    right: -5px;
                    margin-top: -10px;
                    padding-left: 4px;
                    box-sizing: border-box;
                    border: 3px solid $green;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
                    -moz-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
                    -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
                }
            }

            hr {
                border: none;
                height: 1px;
                background: #f0f0f2;
            }

            a {
                width: calc(100% - 60px);
                background: $green;
                color: $white;
                display: inline-block;
                margin: 15px auto 0px;
                text-align: center;
                padding: 12px 30px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                border-radius: 50px;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);

            }
        }

        .wallet-right {
            background: $white;
            width: calc(70% - 20px);
            min-height: 250px;
            float: right;
            padding: 30px;
            border: 1px solid #f0f0f2;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);
            -moz-box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);
            -webkit-box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);

            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            transition-delay: 0.4s;
            -moz-transition-delay: 0.4s;
            -webkit-transition-delay: 0.4s;
            transform: translate3d(0,10px,0);
            -moz-transform: translate3d(0,10px,0);
            -webkit-transform: translate3d(0,10px,0);

            h3 {
                color: $dark-gray;
                font-size: 20px;
                font-weight: 700;
                margin: 0 0 20px;
            }

            .table {
                color: $dark-gray;
                font-size: 14px;
                font-weight: 300;
                border-top: 1px solid $light-gray;
                border-left: 1px solid $light-gray;

                .row {
                    background: $light-gray-bg;
                    overflow: auto;
                    border-bottom: 1px solid $light-gray;

                    &:nth-child(even) {background: $white;}

                    .cell {
                        width: 70%;
                        float: left;
                        border-right: 1px solid $light-gray;
                        padding: 10px;
                        text-align: left;

                        &:nth-child(even) {width: 30%; text-align: right;}
                    }

                }
            }
        }

        .settings-left {
            background: $white;
            width: 30%;
            float: left;
            margin-right: 20px;
            text-align: center;
            border: 1px solid #f0f0f2;
            overflow: hidden;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);
            -moz-box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);
            -webkit-box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);

            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            transition-delay: 0.4s;
            -moz-transition-delay: 0.4s;
            -webkit-transition-delay: 0.4s;
            transform: translate3d(0,10px,0);
            -moz-transform: translate3d(0,10px,0);
            -webkit-transform: translate3d(0,10px,0);

            .user-photo {
                width: 100%;
                height: 250px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            ul {
                li {
                    color: $dark-gray;
                    font-size: 14px;
                    font-weight: 300;
                    width: 100%;
                    padding: 15px 20px;
                    border-bottom: 1px solid $light-gray;
                    text-align: left;

                    &:last-child {border-bottom: none;}
                }
            }
        }

        .settings-right {
            background: $white;
            width: calc(70% - 20px);
            min-height: 250px;
            float: right;
            padding: 30px;
            border: 1px solid #f0f0f2;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);
            -moz-box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);
            -webkit-box-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.03);

            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            transition-delay: 0.4s;
            -moz-transition-delay: 0.4s;
            -webkit-transition-delay: 0.4s;
            transform: translate3d(0,10px,0);
            -moz-transform: translate3d(0,10px,0);
            -webkit-transform: translate3d(0,10px,0);

            h3 {
                color: $dark-gray;
                font-size: 20px;
                font-weight: 700;
                margin: 0 0 20px;
                text-align: left;
            }

            input {
                color: $dark-gray;
                padding: 15px 20px;
                border: 1px solid $light-gray;
                width: 100%;
                margin: 0 0 20px;
                font-size: 14px;
                font-weight: 300;
                display: inline-block;
            }

            button {
                background: $green;
                color: #fff;
                padding: 13px 60px;
                border: none;
                width: auto;
                margin: 0;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                cursor: pointer;
                float: right;
                border-radius: 50px;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
            }
        }
    }
}

header {
    background: $white;
    border-bottom: 1px solid $light-gray;

    .profile {border-bottom: none;}
}

main {
    padding-top: 80px;
    justify-content: flex-start;
}

.page-video-details {
    aside .sidemenu li:nth-child(2) a {background-image: url('../img/menu/active/video-details.png'); opacity: 1;}
}

.page-add-photos {
    header {
        background: $white;
        border-bottom: 1px solid $light-gray;

        .profile {border-bottom: none;}
    }

    aside .sidemenu li:nth-child(3) a {background-image: url('../img/menu/active/upload-photos.png'); opacity: 1;}
}

.page-crystal {
    header {
        background: $white;
        border-bottom: 1px solid $light-gray;
		text-align: center;

        .profile {border-bottom: none;}
    }

    aside .sidemenu li:nth-child(3) a {background-image: url('../img/menu/active/upload-photos.png'); opacity: 1;}

	main {padding-top: 80px;}

	.set {
		animation: fade-in 0.4s;
	}

	.main-picture-title {
		margin: 30px auto 0;
		padding: 10px;

		span {
			color: $dark-gray;
			font-size: 21px;
			font-weight: 700;
			text-transform: uppercase;
			margin: 0;
			display: inline-block;

			&.title-desc {
				color: $dark-gray;
				font-size: 13px;
				font-weight: 300;
				text-transform: uppercase;
				display: inline-block;
				position: relative;
				margin-bottom: 30px;
				z-index: 2;

				&:before {
					content: '';
					position: absolute;
					width: calc(100% + 10px);
					height: 1px;
					left: 0;
					bottom: 4px;
					z-index: -1;
					background: $light-gray-bg;
				}

				&:after {
					content: '';
					position: absolute;
					width: 880px;
					height: 1px;
					background: $light-gray;
					left: 0;
					bottom: 4px;
					z-index: -2;
				}
			}

		}


		input {
			width: 100%;
			float: left;
			margin-right: 30px;
			margin-bottom: 30px;
			padding: 20px;
			color: #969699;
			font-size: 15px;
			border: 1px solid $light-gray;
			transition: 0.4s;
			-moz-transition: 0.4s;
			-webkit-transition: 0.4s;

			&.video-title {
				width: 590px;
			}

			&:focus {
				color: $green;
				border-color: $green;
			}
		}
	}

	.set-table {
		overflow: auto;
		margin: 30px auto 0;
		border: 1px solid $light-gray;
		border-bottom: none;

		.row {
			background: $white;
			margin: 0;
			padding: 0;
			display: flex;
			border-bottom: 1px solid $light-gray;

			.drag-icon  {
				width: 5%;
				float: left;
				display: flex;
				flex-direction: column;
				justify-content: center;
				cursor: move;

				span {
					position: relative;
					width: 20px;
					height: 2px;
					background: $light-gray;
					display: inline-block;
					margin: 0 auto;

					&:before {
						content: '';
						background: $light-gray;
						position: absolute;
						width: 100%;
						height: 2px;
						top: -5px;
						left: 0;
					}
					&:after {
						content: '';
						background: $light-gray;
						position: absolute;
						width: 100%;
						height: 2px;
						bottom: -5px;
						left: 0;
					}
				}
			}

			.col-img {
				width: 15%;
				text-align: center;
				float: left;
				padding: 10px 20px;
				border-left: 1px solid $light-gray;

				img {
					background: $light-gray;
					display: block;
					font-size: 12px;
					width: 90px;
					height: 60px;
					margin: 0 auto;
					line-height: 60px;
					color: rgba(0,0,0,0.5);
					border-radius: 3px;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
				}
			}

			.col-upload {
				width: 40%;
				float: left;
				padding: 10px 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				border-left: 1px solid $light-gray;
				border-right: 1px solid $light-gray;

				input {
					border: none;
				}
			}

			.col-txt {
				width: 40%;
				float: left;
				padding: 10px 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				input  {
					background: $light-gray-bg;
					width: 100%;
					float: left;
					margin: 0 auto;
					padding: 10px 20px;
					color: #969699;
					font-size: 15px;
					border: 1px solid $light-gray;
					transition: 0.4s;
					-moz-transition: 0.4s;
					-webkit-transition: 0.4s;
				}
			}
		}
	}
	.set-controls {
		position: relative;
	    padding: 0;
		margin: 30px auto 0;

		.image-no {
			float: left;
			color: $dark-gray;
			font-size: 15px;
			font-weight: 300;
			line-height: 38px;
		}

		#more-images {
			background: $green;
			color: $white;
			font-size: 14px;
			font-weight: 700;
			padding: 10px 30px;
			float: right;
			cursor: pointer;
			border-radius: 50px;
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
		}
	}
}

.page-select-soundtrack {
    aside .sidemenu li:nth-child(4) a {background-image: url('../img/menu/active/soundtrack.png'); opacity: 1;}

    section {
        display: block;
        padding: 20px 0 0;
        opacity: 0.4;
        transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
    }
    input {display: none;}

    label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 40px;
        font-size: 19px;
        font-weight: 400;
        text-align: center;
        color: $gray;
        position: relative;
        transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
    }

    label[for*='2'] {float: right;}

    label:before {
        content: '';
        margin-right: 10px;
        background: url('../img/checked.png') no-repeat -200% center $gray;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 12px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2) inset;
        -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2) inset;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2) inset;
        transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
    }

    label:hover {
        color: $dark-gray;
        cursor: pointer;
    }

    input:checked + label {
        color: $green;
    }

    input:checked + label:before {
        background: url('../img/checked.png') no-repeat center center $green;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2 {
        display: block;
        opacity: 1;
    }

    .imageuploadify .imageuploadify-images-list .imageuploadify-container {
        width: 100%;
        height: 50px;

        .imageuploadify-details {
            opacity: 1 !important;
            padding: 15px 50px;
            text-align: left;
            background: url('../img/soundtrack-icon.svg') no-repeat 10px center;
            background-size: 30px auto;

            span {
                display: none;

                &:first-child {display: inline-block;}
            }
        }
    }
}

.page-preview, .page-thank-you {
    .video-player {
        width: 900px;
        height: 507px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        box-shadow: 30px 30px 60px 0 rgba(0,0,0,0.15);
        -moz-box-shadow: 30px 30px 60px 0 rgba(0,0,0,0.15);
        -webkit-box-shadow: 30px 30px 60px 0 rgba(0,0,0,0.15);
    }

    .video-info {
        margin: 70px 0;

        p {
            color: $dark-gray;
            font-weight: 300;
            font-size: 17px;
            margin: 0;
            line-height: 2;

            a {
                color: $green;
                font-weight: 700;
            }
        }

        .to-home {
            width: 100%;
            text-align: center;

            a {
                background: $green;
                padding: 15px 40px;
                color: #fff;
                font-size: 14px;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 700;
                margin: 10px auto;
                display: inline-block;
                border-radius: 50px;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
            }
        }
    }

    .video-quality {
        .quality {
            width: 33.33%;
            float: left;

            &:nth-child(2) {text-align: center;}
            &:nth-child(3) {text-align: right;}
            &.pay-share {
                margin-top: 10px;
                width: 60%;

                span {
                    margin-right: 20px;
                    color: $gray;
                    font-size: 19px;
                    font-weight: 700;
                }
            }
        }

        hr {
            height: 1px;
            background: $light-gray;
            display: block;
            width: 100%;
            clear: both;
            margin: 30px 0;
            border: 0;
            float: left;
        }

        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: $gray;
            font-size: 19px;
        }
        [type="radio"]:checked + label {color: $green;}

        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: -10px;
            top: -6px;
            width: 30px;
            height: 30px;
            background: urL('"../img/checked.png"') no-repeat -200% center $gray;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.2) inset;
            -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2) inset;
            -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2) inset;
            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            position: absolute;
            left: -10px;
            top: -6px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: url('../img/checked.png') no-repeat center center $green;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .purchase {
            background: $green;
            padding: 15px 40px;
            color: #fff;
            float: right;
            font-size: 19px;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 700;
            box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
        }
    }
}

.page-preview {
    aside .sidemenu li:nth-child(5) a {background-image: url('../img/menu/active/preview.png'); opacity: 1;}
}

.page-thank-you {
    aside .sidemenu li:nth-child(6) a {background-image: url('../img/menu/active/success.png'); opacity: 1;}
    main {min-height: 100vh;}
}

footer {
    background: $light-gray-bg;
    width: calc(100% - 80px);
    height: 80px;
    position: relative;
    float: right;
    padding: 20px;
    text-align: center;
    border-top: 1px solid $light-gray;

    button {
        background: transparent;
        width: 150px;
        border: 1px solid $green;
        outline: none;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        text-transform: uppercase;
        margin: 0 10px;
        cursor: pointer;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;

        &.next {
            background: url('../img/checked.png') no-repeat -50px center $green;
            color: $white;

            &:hover {
                background: url('../img/checked.png') no-repeat 20px center $green;
                padding-left: 30px;
            }
        }
        &.cancel {
            background: url('../img/cancel.svg') no-repeat -50px center;
            background-size: 12px auto;
            color: rgba(0,0,0,0.3);
            border: 1px solid rgba(0,0,0,0.15);
            &:hover {
                background: url('../img/cancel.svg') no-repeat 20px center;
                background-size: 12px auto;
                padding-left: 30px;
            }
        }

        &.save {
            background: url('../img/save.svg') no-repeat -50px center;
            background-size: 14px auto;
            color: $green;
            border: 1px solid $green;
            &:hover {
                background: url('../img/save.svg') no-repeat 20px center;
                background-size: 14px auto;
                padding-left: 30px;
            }
        }
        &.confirm {
            background: url('../img/checked.png') no-repeat -50px center $green;
            color: $white;
            width: 300px;

            &:hover {
                background: url('../img/checked.png') no-repeat 20px center $green;
                padding-left: 30px;
            }
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate3d(0, 40px,0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0px,0);
    }
}

@keyframes preload {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

.menu-open {
    .profile {
            width: 290px;

            .user-name, .current-balance {
                opacity: 1;
                visibility: visible;
                transition: 0.4s;
                -moz-transition: 0.4s;
                -webkit-transition: 0.4s;
                transform: translate3d(0,0,0);
                -moz-transform: translate3d(0,0,0);
                -webkit-transform: translate3d(0,0,0);
            }
    }

    .menu-icon {
            background: $light-gray-bg;
            transform: translate3d(-210px,0,0);
            -moz-transform: translate3d(-210px,0,0);
            -webkit-transform: translate3d(-210px,0,0);

            span {
                &.menu-line-top {
                    transform: translate3d(-50%, -50%, 0) rotate(45deg) !important;
                    transition-delay: 0.3s !important;
                }

                &.menu-line-mid {
                    transform: translate3d(-50%, -50%, 0) rotate(-45deg) !important;
                    transition-delay: 0.3s !important;
                }

                &.menu-line-bot {
                    width: 0px;
                    opacity: 0;
                    transition-delay: 0s !important;
                }
            }
    }
    .profile-menu {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
    }

    &.open-subpage.subpage-my-projects {
        main, header, footer {visibility: hidden;}

        #subpage.subpage-my-projects {
            visibility: visible;
            opacity: 1;

            h2 {background: url('../img/profile-menu/my-projects.png') no-repeat calc(100% - 130px) center #FFF;}

            .card {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
    }

    &.open-subpage.subpage-purchased-videos {
        main, header, footer {visibility: hidden;}

        #subpage.subpage-purchased-videos {
            visibility: visible;
            opacity: 1;

            h2 {background: url('../img/profile-menu/purchased-videos.png') no-repeat calc(100% - 130px) center #FFF;}

            .card {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
    }

    &.open-subpage.subpage-favorite-styles {
        main, header, footer {visibility: hidden;}

        #subpage.subpage-favorite-styles {
            visibility: visible;
            opacity: 1;

            h2 {background: url('../img/profile-menu/favorite-styles.png') no-repeat calc(100% - 130px) center #FFF;}

            .card {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
    }

    &.open-subpage.subpage-my-wallet {
        main, header, footer {visibility: hidden;}

        #subpage.subpage-my-wallet {
            visibility: visible;
            opacity: 1;

            h2 {background: url('../img/profile-menu/my-wallet.png') no-repeat calc(100% - 130px) center #FFF;}

            .wallet-left, .wallet-right {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
    }

    &.open-subpage.subpage-settings {
        main, header, footer {visibility: hidden;}

        #subpage.subpage-settings {
            visibility: visible;
            opacity: 1;

            h2 {background: url('../img/profile-menu/settings.png') no-repeat calc(100% - 130px) center #FFF;}

            .settings-left, .settings-right {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
    }

}

/************************************************* scroll bar *************************************************************/

::-webkit-scrollbar {
    width: 6px;
    background: $light-gray-bg;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-track {
    background: $light-gray-bg;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-left: 1px solid rgba(0,0,0,0.05);
}

::-webkit-scrollbar-thumb {
    background:rgba(0,0,0,0.15);
    -webkit-border-radius: 20px;
}
